{{#if newUser}}
  <h3>So empty 😔. Create a new post below!</h3>
  <a href="/new-post">
    <button
      class="btn btn-primary"
      data-button="create"
      data-button="new-post"
    >Create new post</button>
  </a>

{{else}}
  <h3>All Posts by {{username}}</h3>
  {{#each posts as |post|}}
    <div class="card" style="width: 50rem" id="post">
      <div class="card-body px-0 py-0">

        <div class="bg-dark py-2 px-2 rounded-2">
          <h5 class="card-title text-white">
            {{post.post_title}}
            <span class="right-container">{{format_date post.created_at}}</span>
          </h5>

        </div>
        <div class="py-2 px-2 rounded-2">
          <p class="card-text">
            {{post.post_content}}
          </p>
          <a href="/edit-post/{{post.id}}"><button
            class="btn btn-primary"
            id="{{post.id}}"
            data-button="edit"
          >Edit</button></a>
          
          <button
            class="btn btn-danger right-container"
            id="delete-post"
            data-postId="{{post.id}}"
            data-button="delete"
          >Delete</button>
        </div>

      </div>

    </div>
  {{/each}}
  <div class="mt-3"><a href="/new-post">
      <button
        class="btn btn-primary"
        data-button="create"
        data-button="new-post"
      >Create new post</button>
    </a></div>

  <script src="/js/delete.js"></script>
{{/if}}