<div class="card mb-4" style="width: 50rem" id="post">
  <div class="card-body px-0 pt-0">

    <div class="bg-dark py-2 px-2 rounded-top">
      <h5 class="card-title text-white">
        {{post.post_title}}
        <span class="right-container">Posted by
          {{post.user.username}}
          on
          {{format_date post.created_at}}</span>
      </h5>
    </div>

    <div class="py-2 px-2 rounded-2">
      <p class="card-text">
        {{post.post_content}}
      </p>
    </div>

  </div>
</div>

<h3>Comments</h3>
<div class="m-2">
  <button class="btn btn-primary" id="comment-btn">Add new comment</button>
</div>

<div id="comment-form" class="hide">
  <form class="form post_form">
    <div class="form-group">
      <label for="comment-content">Comment:</label>
      <input class="form-input" type="text" id="comment-content" />
    </div>
    <div class="form-group">
      <button class="btn btn-primary m-2 " type="submit">Create Comment</button>
    </div>
  </form>
</div>
{{#each comments as |comment|}}
  <div class="card mb-4" style="width: 50rem" id="post">
    <div class="card-body px-0 pt-0">

      <div class="bg-dark py-2 px-2 rounded-top">
        <h5 class="card-title text-white">
          {{comment.user.username}}
          <span class="right-container">{{format_date
              comment.created_at
            }}</span>
        </h5>
      </div>

      <div class="py-2 px-2 rounded-2">
        <p class="card-text">
          {{comment.comment_content}}
        </p>
      </div>

    </div>
  </div>
{{/each}}

<script src="/js/comment.js"></script>